.post {
    border: 2px solid black;
    
    
}

.person {
    display: flex;
    justify-content: flex-start;
}

.postIcons {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
}

.likes {
    display: flex;
    justify-content: flex-start;
}